@media only screen and (max-width: 460px) {
  .widget {
    padding: 10px;

    &__description {
      max-height: 70px;
      min-height: 70px;
      line-height: 18px;
      font-size: 15px;
    }
  }
}

@media only screen and (max-width: 330px) {
  .widget__description {
    max-height: 100px;
    min-height: 100px;
    line-height: 18px;
    font-size: 15px;
  }
}